USE [QLSHOP]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 4/11/2024 1:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [pk_cthd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 4/11/2024 1:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [int] IDENTITY(1,1) NOT NULL,
	[TENDV] [nvarchar](100) NULL,
	[GIA] [float] NOT NULL,
	[HINH] [nvarchar](100) NOT NULL,
 CONSTRAINT [pk_dv] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVHD]    Script Date: 4/11/2024 1:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVHD](
	[SOHD] [int] IDENTITY(1,1) NOT NULL,
	[MADV] [int] NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [pk_dvhd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/11/2024 1:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] IDENTITY(1,1) NOT NULL,
	[NGHD] [datetime] NULL,
	[MATK] [int] NOT NULL,
	[TRIGIA] [float] NULL,
 CONSTRAINT [pk_hd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAQG]    Script Date: 4/11/2024 1:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAQG](
	[MAQG] [nchar](2) NOT NULL,
	[QUOCGIA] [varchar](20) NULL,
 CONSTRAINT [pk_maqg] PRIMARY KEY CLUSTERED 
(
	[MAQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/11/2024 1:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [varchar](40) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[MAQG] [nchar](2) NOT NULL,
	[NGSINH] [datetime] NOT NULL,
	[GIA] [float] NOT NULL,
	[NGAYDANG] [datetime] NULL,
	[SOLUOTXEM] [int] NULL,
	[HINH] [nvarchar](100) NULL,
 CONSTRAINT [pk_sp] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/11/2024 1:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[TENTK] [varchar](40) NULL,
	[MKHAU] [varchar](40) NULL,
	[HOTEN] [varchar](40) NULL,
	[KTRANV] [bit] NOT NULL,
 CONSTRAINT [pk_kh] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTHD] ON 

INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, 1, 1)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1002, 1, 2)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1003, 22, 1)
SET IDENTITY_INSERT [dbo].[CTHD] OFF
GO
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIA], [HINH]) VALUES (1, N'DV chăm sóc thú cưng', 100000, N'hinhanhchamsocthucungtainha.jpg')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIA], [HINH]) VALUES (2, N'DV tắm spa, làm đẹp', 200000, N'tamrua.jpg')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [GIA], [HINH]) VALUES (3, N'DV gỡ rối, trải lông', 50000, N'chailong.jpg')
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
GO
SET IDENTITY_INSERT [dbo].[DVHD] ON 

INSERT [dbo].[DVHD] ([SOHD], [MADV], [SL]) VALUES (1001, 1, 1)
INSERT [dbo].[DVHD] ([SOHD], [MADV], [SL]) VALUES (1002, 2, 1)
INSERT [dbo].[DVHD] ([SOHD], [MADV], [SL]) VALUES (1003, 3, 1)
SET IDENTITY_INSERT [dbo].[DVHD] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MATK], [TRIGIA]) VALUES (1001, CAST(N'2022-02-07T00:00:00.000' AS DateTime), 1, 320000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MATK], [TRIGIA]) VALUES (1002, CAST(N'2022-01-08T00:00:00.000' AS DateTime), 5, 840000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MATK], [TRIGIA]) VALUES (1003, CAST(N'2022-01-08T00:00:00.000' AS DateTime), 2, 100000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
INSERT [dbo].[MAQG] ([MAQG], [QUOCGIA]) VALUES (N'AL', N'Alaska')
INSERT [dbo].[MAQG] ([MAQG], [QUOCGIA]) VALUES (N'AM', N'MY')
INSERT [dbo].[MAQG] ([MAQG], [QUOCGIA]) VALUES (N'BC', N'BAC CHAU AU')
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [PHAI], [MAQG], [NGSINH], [GIA], [NGAYDANG], [SOLUOTXEM], [HINH]) VALUES (1, N'Alaska Malamute', 1, N'AL', CAST(N'2023-03-22T00:00:00.000' AS DateTime), 10000, CAST(N'2010-12-12T00:00:00.000' AS DateTime), 111, N'Alaska Malamute.jpg')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [PHAI], [MAQG], [NGSINH], [GIA], [NGAYDANG], [SOLUOTXEM], [HINH]) VALUES (2, N'Alaska Malamute', 0, N'AL', CAST(N'2023-02-22T00:00:00.000' AS DateTime), 10008, CAST(N'2010-12-12T00:00:00.000' AS DateTime), 111, N'Alaska Malamute2.jpg')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [PHAI], [MAQG], [NGSINH], [GIA], [NGAYDANG], [SOLUOTXEM], [HINH]) VALUES (3, N'Shiba', 1, N'JP', CAST(N'2023-10-01T00:00:00.000' AS DateTime), 19000, CAST(N'2010-12-12T00:00:00.000' AS DateTime), 222, N'shiba.jpg')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([MATK], [TENTK], [MKHAU], [HOTEN], [KTRANV]) VALUES (1, N'nva123@gmail.com', N'123', N'NUYEN VAN A', 0)
INSERT [dbo].[USERS] ([MATK], [TENTK], [MKHAU], [HOTEN], [KTRANV]) VALUES (2, N'tnh124@gmail.com', N'123', N'TRAN NGOC HAN', 0)
INSERT [dbo].[USERS] ([MATK], [TENTK], [MKHAU], [HOTEN], [KTRANV]) VALUES (3, N'tnl125@gmail.com', N'123', N'TRAN NGOC LINH', 0)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk01_CTHD] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk01_CTHD]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk02_CTHD] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk02_CTHD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_USERS] FOREIGN KEY([MATK])
REFERENCES [dbo].[USERS] ([MATK])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_USERS]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MAQG] FOREIGN KEY([MAQG])
REFERENCES [dbo].[MAQG] ([MAQG])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MAQG]
GO
